version: '3'
services:
    namenode:
        image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
        container_name: namenode
        restart: always
        ports:
          - 9870:9870
          - 9000:9000
        volumes:
          - ./data/namenode:/hadoop/dfs/name
        environment:
          - CLUSTER_NAME=hmstest
        env_file:
          - ./hadoop/env
    datanode:
        image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
        container_name: datanode
        depends_on: 
          - namenode
        restart: always
        ports:
          - "9864:9864"
        volumes:
          - ./data/datanode:/hadoop/dfs/name
        environment:
          SERVICE_PRECONDITION: "namenode:9870"
        env_file:
          - ./hadoop/env
    hue:
        image: bde2020/hdfs-filebrowser:latest
        ports:
          - 8088:8088
        env_file:
          - ./hadoop/env
        environment:
          - NAMENODE_HOST=namenode
    spark-master:
        image: bde2020/spark-master:2.4.5-hadoop2.7-Python3.7.0
        container_name: spark-master
        depends_on:
          - datanode
          - namenode
          - hive-metastore
        ports:
          - 8080:8080
          - 7077:7077
        env_file:
          - ./hadoop/env
    spark-worker:
        image: bde2020/spark-worker:2.4.5-hadoop2.7-Python3.7.0
        depends_on:
          - spark-master
          - hive-metastore
        environment:
          - SPARK_MASTER=spark://spark-master:7077
        ports:
          - 8081:8081
        env_file:
          - ./hadoop/env
    jupiter:
        image: jupyter/pyspark-notebook:latest
        depends_on:
          - spark-master
          - hive-metastore
        ports:
          - 9888:8888
    hive-server:
        image: bde2020/hive:2.3.2-postgresql-metastore
        env_file:
          - ./hadoop-hive/env
        depends_on:
          - hive-metastore
        environment:
          HIVE_CORE_CONF_javax_jdo_option_ConnectionURL: "jdbc:postgresql://hive-metastore-postgresql/metastore"
          SERVICE_PRECONDITION: "namenode:9870 datanode:9864 hive-metastore:9083"
        ports:
          - "10000:10000"
    hive-metastore:
        image: bde2020/hive:latest
        env_file:
          - ./hive-metastore/env
        command: /opt/hive/bin/hive --service metastore
        depends_on: 
          # - hive-metastore-postgresql
          - namenode
          - datanode
        environment:
          SERVICE_PRECONDITION: "namenode:9870 datanode:9864 hive-metastore-postgresql:5432"
        ports:
          - "9083:9083"
    hive-metastore-postgresql:
        container_name: postgres
        image: bde2020/hive-metastore-postgresql:3.1.0
        restart: always
        ports:
          - '5432:5432'
        environment:
            POSTGRES_DB: metastore
            POSTGRES_USER: hive
            POSTGRES_PASSWORD: hive
    # zookeeper:
    #     image: confluentinc/cp-zookeeper:latest
    #     container_name: "zookeper"
    #     environment:
    #       ZOOKEEPER_CLIENT_PORT: 2181
    #       ZOOKEEPER_TICK_TIME: 2000
    # kafka:
    #     image: confluentinc/cp-kafka:latest
    #     container_name: "kafka"
    #     depends_on:
    #       - zookeeper
    #     ports:
    #       - 9092:9092
    #     environment:
    #       KAFKA_BROKER_ID: 1
    #       KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    #       KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://176.58.105.181:9092
    #       KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
    #       KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
    #       KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1     
    # atlas-server:
    #     build: .
    #     image: wbaa/rokku-dev-apache-atlas
    #     ports:
    #       - "21000:21000"
    #     depends_on:
    #       - "zookeeper"
    #       - "kafka" 
